/* Font used: Nunito Sans and Monsieur La Doulaise from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@import url('bootstrap/dist/css/bootstrap.min.css');

.loading-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    gap: 10px;
    z-index: 100000 !important;
    background-color: #060713;
}

.text-stroke-anim {
    width: 100%;
    max-width: 300px;
    display: block;
    margin: 0 auto;
}

.animated-letter {
  stroke-dasharray: 300;
  stroke-dashoffset: 300;
  animation: strokeDrawReverse 2.4s ease-in-out infinite;
  animation-fill-mode: both;
  fill: none;
}

/* Delay for each letter */
.delay-0 { animation-delay: 0s; }
.delay-1 { animation-delay: 0.1s; }
.delay-2 { animation-delay: 0.2s; }
.delay-3 { animation-delay: 0.3s; }
.delay-4 { animation-delay: 0.4s; }
.delay-5 { animation-delay: 0.5s; }
.delay-6 { animation-delay: 0.6s; }
.delay-7 { animation-delay: 0.7s; }

.responsive-text {
  font-size: 32px;
}

@media (max-width: 992px) {
  .responsive-text {
    font-size: 64px;
  }

  .animated-letter {
    stroke-dasharray: 550;
    stroke-dashoffset: 550;
    /* Fix animation for mobile too */
    animation: strokeDrawReverseMobile 2.4s ease-in-out infinite;
    animation-fill-mode: both;
  }

    .delay-0 { animation-delay: 0s; }
    .delay-1 { animation-delay: 0.11s; }
    .delay-2 { animation-delay: 0.22s; }
    .delay-3 { animation-delay: 0.33s; }
    .delay-4 { animation-delay: 0.44s; }
    .delay-5 { animation-delay: 0.55s; }
    .delay-6 { animation-delay: 0.66s; }
    .delay-7 { animation-delay: 0.77s; }
}

/* Desktop Animation */
@keyframes strokeDrawReverse {
    0% {
        stroke-dashoffset: 300;
    }

    20% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 0;
    }

    60% {
        stroke-dashoffset: 300;
    }

    80% {
        stroke-dashoffset: 300;
    }

    100% {
        stroke-dashoffset: 300;
    }
}

/* Mobile Animation */
@keyframes strokeDrawReverseMobile {
    0% {
        stroke-dashoffset: 550;
    }

    20% {
        stroke-dashoffset: 0;
    }

    40% {
        stroke-dashoffset: 0;
    }

    60% {
        stroke-dashoffset: 550;
    }

    80% {
        stroke-dashoffset: 550;
    }

    100% {
        stroke-dashoffset: 550;
    }
}

#content-blocker {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent;
    z-index: 9999;
    pointer-events: auto;
}

html {
    background-color: #000000;
    background-image: url('../assets/bg.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    user-select: none;
}

body {
    font-family: 'Nunito Sans';
    color: #eaeaea;
}

#root {
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.page-root {
    top: 0;
    position: absolute;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    width: 100%;
}

.contents {
    min-height: 80vh !important;
    padding: 0 15vw;
}

/* from Contact.css
.contents {
    min-height: 80vh !important;
    padding: 5vh 15vw 0 15vw;
}

from Blog.css
.contents {
    min-height: 80vh !important;
    padding: 0 5vw 10vh 5vw;
}

from Galleries.css
.contents {
    min-height: 80vh !important;
    padding: 5vw 5vw;
}
*/
.content-p {
    text-align: center;
}

/*
.seq-anim-run {
    animation: fadeInAnimation ease 2s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
*/

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #eaeaea;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #FFCCBC;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, .5);
    text-decoration: none;
    cursor: pointer;
}

@media (max-width: 992px) {
    body {
        overflow-x: hidden;
        font-size: 4vw;
    }

    .contents {
        padding: 15vh 8vw 5vh 8vw !important;
        font-size: 4vw !important;
    }

    /* From Contact.css
    .contents {
        padding: 5vh 15vw 10vh 15vw;
    }
    */
}

/*
@media (max-width: 992px) {
    #about-content {
        padding-top: 15vh !important;
        font-size: 4vw;
    }
}
    */